!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %title= html_title yield(:page_title)
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = open_id_delegation_link_tags(enki_config[:open_id_delegation, :server], enki_config[:open_id_delegation, :delegate]) if enki_config[:open_id_delegation]
    = csrf_meta_tags
  %body
    .navbar.navbar-static-top
      .navbar-inner
        .container
          %a.brand{ href: root_url }
            = enki_config[:title]


    .container
      .row
        - if enki_config[:sidebar]
          .span9
            #main
              = yield

          .span3.sidebar
            = render 'layouts/sidebar'
        - else
          .span12
            #main
              = yield

      .row
        .span12
          #footer
            = enki_config[:title]
            &#169;
            = enki_config[:author, :name]


